<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comfroseman97.github.camera_kit">

    <application>
        <activity
            android:name=".CameraKitActivity"
            android:label="@string/title_activity_camera_kit"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>